/* section:nth-of-type(3) {
  padding: 2rem 1rem;
  background-color: #ffffff;
}

section:nth-of-type(3) h2 {
  color: #1a237e;
  text-align: center;
  margin-bottom: 1rem;
}

section:nth-of-type(3) p {
  color: #444;
  line-height: 1.6;
  max-width: 700px;
  margin: 0 auto 1rem auto;
} */

/* .about {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f9f9f9;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  border-top: 2px solid #e0e0e0;
  background-image: url("/css/img/about-background.jpg");
} */

.about h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.about p {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 7px;
  max-width: 700px;
  line-height: 1.6;
  background-color: rgba(99, 95, 95, 0.3);
  font-size: 1rem;
  color: #333;
}

.about-card p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  color: #333;
}

.about-card h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #1a237e;
}

.about-card {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  text-align: center;
}

.about {
  background-color: #f9f9f9;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
}
