.about {
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
  background-image: url(/css/img/20181207162539-GettyImages-953782406.jpeg);
  background-position: center;
  background-size: cover;
}

.about h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.about p {
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 7px;
  max-width: 700px;
  line-height: 1.6;
  background-color: rgba(99, 95, 95, 0.3);
  font-size: 1rem;
  color: #333;
}

.about-card p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1.2rem;
  color: #333;
}

.about-card h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #1a237e;
}

.about-card {
  background: rgba(249, 249, 249, 0.9);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 800px;
  text-align: center;
}
